* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}

body {

    background: url(https://picsum.photos/1600/900);
    background-size: cover;
    justify-content: center;
    display: flex;
    min-height: 100vh;
}

.container {
    padding: 20px;
    background-color: rgb(53, 130, 197);
    border-radius: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button {
    display: flex;
    gap: 25px;
    margin: 10px;
}

button {
    padding: 30px;
    font-size: 50px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

button:hover {
    opacity: 0.7;
}

#stone {
    background-color: rgb(241, 242, 233);
}

#paper {
    background-color: brown;

}

#scissors {
    background-color: rgb(237, 6, 221);
}

p {
    font-weight: bold;
    margin: 10px;
    font-size: 20px;
}

.score-player span {
    color: rgb(15, 4, 237);
}

.score-machine span {
    color: rgb(128, 4, 120);
}

#reset{
    color: rgb(50, 250, 5);
    display: flex;
    margin: 30px ;
    font-size: 20px;
background-color: rgba(6, 6, 6, 0.774);
display: inline-block;
font-weight: 1000;
}